html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
  overflow-y: auto; 
}

#app {
  min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem; /* Deja espacio para el Footer */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%; /* Asegura que el body no exceda el viewport */
  box-sizing: border-box; /* Asegura que el padding y el borde no causen desbordamientos */
}

img,
canvas {
  max-width: 100%; /* Asegura que las imágenes y canvas no excedan el ancho */
  height: auto;
}

.container {
  max-width: 100%; /* Asegura que los contenedores no excedan el ancho */
  overflow-x: hidden;
}